<% if resource.errors.any? %>
  <div id="error_explanation" class="errors">
    <p>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase) %>
    </p>
    <ul>
      <% resource.errors.full_messages.each_with_index do |message, index| %>
        <li><%= "#{index+1}) #{message}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
