<div class="user-show">
  <section class="profile">
    <%= render 'profile', :object => @user %>
  </section>
  <section class="cover">
    <%= render 'cover', :object => @user %>
  </section>
  <section class="content">
    <%= render 'users_content', :object => @user %>
  </section>
</div>
