// Place all the styles related to the Cultures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$pad-width: 768px;
$space: 5px;
$font-size: 1em;
$body-color: linear-gradient(170deg, rgb(106, 175, 208), rgb(100, 129, 129));
$link-btn-color: rgba(36, 49, 71, 0.7);
$link-color: white;

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: $body-color;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.navbar-user {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  &>:nth-child(even) {
    background-color: $link-btn-color*2;
    color: $link-color;
  }

  &>:nth-child(odd) {
    background-color: $link-btn-color*3;
    color: $link-color;
  }

  &>:first-child {
    &::before {
      content: "";
    }
  }

  a {
    border: $space/5 solid $link-color;
    ;
    border-radius: $space;
    padding: $space*2;
    margin: $space*2;
    text-decoration: none;
    position: relative;

    &::before {
      font-size: $font-size*1.5;
      line-height: $font-size*.5;
      position: absolute;
      content: "|";
      color: $link-color;
      display: block;
      right: calc(100% + #{$space*1.5});
    }
  }
}



@media only screen and (min-width: $pad-width) {
  .grid-layouts {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: $space*15 calc(100% - #{$space*15});
    grid-template-areas: 'menu header header'
      'menu main main';
    min-height: 100vh;
    background-color: red;
  }

  menu.left-menu {
    grid-area: menu;
    background-color: burlywood;
  }

  header.top-bar {
    grid-area: header;
    background-color: wheat;
  }

  main.main-content {
    grid-area: main;
    background-color: violet;
  }
}